<app-header></app-header>
<section class="shopping-cart container2">
    <h1 class="shop-title">Shopping Cart</h1>
    <div class="shopand-ordersummary-container grid grid-col-2">
        <div class="shoppingCart-container">
            <div class="bottom-container ">
                <div class="img-container" role="img">              
                    <div class="actual-img">    
                    </div>                  
                </div>
                <div class="product-details">
                    <p class="pName">ProductsName</p>
                    <p class="pdetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, labore.</p>
                </div>
                <div class="amount">
                    <p class="quan">Quantity</p>
                    <button><i class="fa fa-plus"></i></button>
                    <p class="amountN">10</p>
                    <button><i class="fa fa-minus"></i></button>
                    <br>
                    <button><i class="fa fa-trash"></i></button>
                </div>
                <div class="price">
                   <p class="quan quan2">price</p>
                   <p>$499.00</p>
                </div>
                <div class="total-price">
                   <p class="quan quan2">Total</p>
                   <p>$499.00</p>
                </div>
            </div>
            <div class="products-total-info">
                <p class="amount-of-items">items</p>
                <div class="Total-amount">$499.00</div>
            </div>

        </div>
        <div class="orderSummary-container">
            <app-ordersummary></app-ordersummary>
        </div>
    </div>
</section>
<app-footer></app-footer>