<section class="order-card-container">
    <div class="left-order-card">
        <div class="labels-p">
            <label class="order-info">Order Placed</label>
            <p class="order-info">December 1 2021</p>
        </div>
        <div class="labels-p">
            <label class="order-info">Total</label>
            <p class="order-info">$199</p>
        </div>
        <div class="labels-p">
            <label class="order-info">Ship To</label>
            <p class="order-info">Normand Jean</p>
        </div>
    </div>
    <div class="right-order-card">
        <div class="labels-p">
            <label class="order-info">Order #</label>
        </div>
       <div class="labels-a">
        <a class="order-info">Order Details</a>
        |
        <a class="order-info">Invoice</a>
       </div>
    </div>
</section>
<section class="order-card-bottom">
    <div class="left-bottom-card">
        <div class="h2-container">
            <h2 class="left-bottom-h2"> Arriving by <span>8pm</span> tomorrow</h2>
        </div>
        <div class="img-container" role="img" aria-label="Food on a plate">
            <div class="actual-img">
                <img src="" alt="">
            </div>
            <div class="product-info">
                <span class="product-desc">Buy food the right way. The only way that matters.</span><br>
                <br>
                <button>buy it again!</button>
            </div>
        </div>
    </div>
    <div class="right-bottom-card">
        <button class="right-botttom-button">start</button>
        <button class="right-botttom-button">refund</button>
        <button class="right-botttom-button">cancel</button>
    </div>
</section>
