<section class="orderSum-container">
    <div class="actual-order-container">
        <div class="order-button">
            <button>Place your Order</button>
            <p class="privacy">by placing your order, you agree to SunStarr <a [routerLink]="['/routePath']" >privacy notice</a> and <a [routerLink]="['/routePath']">condition of use</a>.</p>
        </div>
        <h1>Order Summary</h1>
        <div class="order-summary-info">
            <div class="left-info">
                <p>items:</p>
                <p>Shipping & handling:</p>
                <p>total before tax:</p>
                <p>estimated tax:</p>
      
                <h3>Order Total:</h3>
            </div>
            <div class="right-info">
                <p>1</p>
                <p>$0.00</p>
                <p class="total-tax">$499.00</p>
                <p class="est-tax">$11.99</p>
           
                <h3 class="total-order">$510.99</h3>
            </div>
        </div>
    </div>
    <div class="bottom-container">

    </div>
</section>
